@import url('https://fonts.googleapis.com/css?family=Roboto');
:root{
    --main-bg-color: #FEF2E4;
    --primary-color: #C60000;
    --accent-color: #FD974F;
    --secondary-color: #805A3B;
    --text-color: #231B12;
}
